Source: mpt-status
Section: admin
Priority: extra
Maintainer: Steffen Joeris <white@debian.org>
Build-Depends: cdbs, debhelper (>= 4), libpci-dev | pciutils-dev
Standards-Version: 3.7.2

Package: mpt-status
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base, daemon, mailx
Description: get RAID status out of mpt (and other) HW RAID controllers
 The mpt-status software is a query tool to access the running
 configuration and status of LSI SCSI HBAs.  mpt-status allows you to
 monitor the health and status of your RAID setup.
