Source: arcconf-1.07
Section: admin
Priority: optional
Maintainer: Adam Cécile (Le_Vert) <gandalf@le-vert.net>
Build-Depends: debhelper (>= 5), lsb-release
Standards-Version: 3.9.3

Package: arcconf
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Adaptec ARCCONF command line tool
 Compatible Products:
 .
 Adaptec RAID 6405
 Adaptec RAID 6405E
 Adaptec RAID 6405T
 Adaptec RAID 6445
 Adaptec RAID 6805
 Adaptec RAID 6805E
 Adaptec RAID 6805Q
 Adaptec RAID 6805T
 Adaptec RAID 6805TQ
 Adaptec RAID 7805
 Adaptec RAID 7805Q
 Adaptec RAID 71605
 Adaptec RAID 71605E
 Adaptec RAID 71605Q
 Adaptec RAID 71685
 Adaptec RAID 72405
 Adaptec RAID 78165
 Adaptec RAID 8405
 Adaptec RAID 8805
 Adaptec RAID 8885
 Adaptec RAID 8885Q
 Adaptec RAID 81605ZQ
